ul {
  list-style-type: none;
  padding-left: 20px;
  position: relative;
}

ul ul {
  margin-left: 20px;
  position: relative;
}

li {
  margin: 10px 0;
  position: relative;
  padding-left: 20px;
}

li::before {
  content: '';
  position: absolute;
  top: 0;
  left: -10px;
  width: 1px;
  height: 100%;
  background-color: #000;
}



li::after {
  content: '';
  position: absolute;
  top: 12px;
  left: -10px;
  width: 20px;
  height: 1px;
  background-color: #000;
}

li:first-child::before {
  height: 100%;
  top: 0%;
}

li:last-child::before {
  height: 100%;
}

li:first-child:last-child::before {
  display: none;
}

.add-btn {
  margin-left: 10px;
  padding: 12px 25px !important;
  margin-top: -6px;
}

.sm-btn {
  margin-left: 15px;
}

.organisation {
  margin-left: 100px;
}

.organisation input[type="text"] {
  height: 45px;
  padding-left: 9px;
  border-radius: 5px;
  border: 1px solid #c6c2c2;
}

.organisation select {
  height: 50px;
  width: 150px;
  padding-left: 9px;
  border-radius: 5px;
  border: 1px solid #c6c2c2;
  margin-left: 15px;
}


.sm-btn {
  padding: 5px !important;
  font-size: 10px;
  border-radius: 4px;
  width: 45px;
}